* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #696969;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

p {
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: x-small;
  color: #ffffff;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fcd9f3;
}

.value {
  margin-bottom: 10px;
}
.kalkulator {
  position: relative;
  display: grid;
}
.kalkulator .value {
  grid-column: span 4;
  height: 80px;
  width: 240px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
}
.kalkulator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #df66b8;
  place-items: center;
  border: 1px solid rgb(253, 252, 252);
  border-radius: 50px;
}
.kalkulator span:active {
  background-color: #6676b9;
  color: #111;
}
.kalkulator span.clear {
  grid-column: span 2;
  width: 120px;
  background-color: #619cb8;
}
.kalkulator span.plus {
  grid-row: span 2;
  height: 120px;
}
.kalkulator span.equal {
  background-color: #619cb8;
}

.container {
  display: block;
}
@media screen and (max-width: 1280px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    background-color: #fcd9f3;
  }
  .kalkulator .value {
    grid-column: span 4;
    height: 160px;
    width: 480px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 40px;
    border-radius: 50px;
  }
  .kalkulator span {
    display: grid;
    width: 120px;
    height: 120px;
    color: #fff;
    background-color: #df66b8;
    place-items: center;
    border: 1px solid rgb(253, 252, 252);
    border-radius: 50px;
  }
  .kalkulator span:active {
    background-color: #6676b9;
    color: #111;
  }
  .kalkulator span.clear {
    grid-column: span 2;
    width: 240px;
    background-color: #619cb8;
  }
  .kalkulator span.plus {
    grid-row: span 2;
    height: 240px;
  }
}
